<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Título default{% endblock %}</title>
        <style media="screen">
            div.a{
                background-color: lightblue;
            }
        </style>
    </head>
    <body>
        <div class="{% if request.session.testab == "a" %}a{% endif %}">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>