<h1>name: {{country.name|title}}</h1>
<p>code: {{country.code}}</p>

{% if country.name == 'colombia'  %}
    <p>yeah: {{country.code}}</p>
{% endif %}

<p>detail_id <a href="{% url "countries:country_id" id=country.id %}">Ir a detalle</a></p>
<p>detail_url <a href="{{country.detail_url}}">Ir a detalle</a></p>
<br>