{% extends 'countries/base.html' %}

{% block title %} Hello World {% endblock %}

{% block content %}
    <h1>Hello World</h1>
    <ul>
        <li><a href="{% url "tags" %}">Tags</a></li>
        <li><a href="{% url "continents:home" %}">Continents</a></li>
        <li><a href="{% url "countries:country_id" id=1 %}">Country Detail</a></li>
    </ul>

    {% for country in countries %}
        <p>{{country}}</p>
    {% endfor %}
    <hr>

    
{% endblock %}